doctype html
html(lang="en")
    head
        title=Communion
    body
        p
            b Homepage
        ul
            li 
                form(action="/loginpage", method="post")
                    input(type="submit", value="Login")

            li 
                form(action="/signuppage", method="post")
                    input(type="submit", value="SignUp")
