doctype html
html
    body
        p
            b=username+"\'s profile:"
        br
        -var paths = paths
        -var username = username
        ul
            for path in paths
                    a(href="/profile/"+username+"/"+path.path, method=GET)=  path.path
        br
        a(href="/logout") Logout

        //set private and public videos tags